#dragable1, #dragable2 {
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	background-image: -moz-linear-gradient(top, #ffffff, #828bff);
	background-image: -ms-linear-gradient(top, #ffffff, #828bff);
	background-image: -o-linear-gradient(top, #ffffff, #828bff);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#828bff));
	background-image: -webkit-linear-gradient(top, #ffffff, #828bff);
	background-image: linear-gradient(top, #ffffff, #828bff);
	position: relative;
	width: 50px;
	height: 50px;
	font-size: 11px;
	padding: 5px;
	text-align: center;
}
